# 激活码生成密钥
SECRET_KEY=MySecretKey2025

# 管理员密钥（用于管理接口）
ADMIN_KEY=AdminSecret2025

# Supabase 配置
SUPABASE_URL=https://acxecdtnchxxsfqcnxmm.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFjeGVjZHRuY2h4eHNmcWNueG1tIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjE2NjI5NjEsImV4cCI6MjA3NzIzODk2MX0.kx63qyu_FwGDhCqZHs_Cx9Wg8voT3bxkC8KkmS-BZjQ

